<p>updatepayment works!</p>

<form #myform="ngForm" method="post" class="container col-md-4" (ngSubmit)="updatePayment(myform.value)">
    <div class="form-group">
        <label>Payment ID:</label>
        <input type="number" class="form-control" name="paymentId" #paymentIdControl="ngModel" required ngModel>
        <span style="color: red;" *ngIf="paymentIdControl.touched && paymentIdControl.invalid">Payment ID is mandatory</span>
    </div>

    <div class="form-group">
        <label>Payment Type:</label>
        <input type="text" class="form-control" name="paymentType" #paymentTypeControl="ngModel" required ngModel>
        <span style="color: red;" *ngIf="paymentTypeControl.touched && paymentTypeControl.invalid">Payment Type is mandatory</span>
    </div>

    <div class="form-group">
        <label>Amount:</label>
        <input type="number" class="form-control" name="amount" #amountControl="ngModel" required ngModel>
        <span style="color: red;" *ngIf="amountControl.touched && amountControl.invalid">Amount is mandatory</span>
    </div>

    <div class="form-group">
        <label>Customer ID:</label>
        <input type="number" class="form-control" name="customerId" #customerIdControl="ngModel" required ngModel>
        <span style="color: red;" *ngIf="customerIdControl.touched && customerIdControl.invalid">Customer ID is mandatory</span>
    </div>

    <div class="form-group">
        <label>Customer Name:</label>
        <input type="text" class="form-control" name="customerName" #customerNameControl="ngModel" required ngModel>
        <span style="color: red;" *ngIf="customerNameControl.touched && customerNameControl.invalid">Customer Name is mandatory</span>
    </div>

    <div class="form-group">
        <label>Cab ID:</label>
        <input type="number" class="form-control" name="cabId" #cabIdControl="ngModel" required ngModel>
        <span style="color: red;" *ngIf="cabIdControl.touched && cabIdControl.invalid">Cab ID is mandatory</span>
    </div>

    <div class="form-group">
        <label>Cab Name:</label>
        <input type="text" class="form-control" name="cabName" #cabNameControl="ngModel" required ngModel>
        <span style="color: red;" *ngIf="cabNameControl.touched && cabNameControl.invalid">Cab Name is mandatory</span>
    </div>

    <div class="form-group">
        <label>Transaction Date:</label>
        <input type="date" class="form-control" name="transactionDate" #transactionDateControl="ngModel" required ngModel>
        <span style="color: red;" *ngIf="transactionDateControl.touched && transactionDateControl.invalid">Transaction Date is mandatory</span>
    </div>

    
   <div class="form-group">
        <label>Card Number:</label>
        <input type="text" class="form-control" name="cardNumber" #cardNumberControl="ngModel" required ngModel>
        <span style="color: red;" *ngIf="cardNumberControl.touched && cardNumberControl.invalid">Card Number is mandatory</span>
    </div>

    <div class="form-group">
        <label>Expiry Date:</label>
        <input type="date" class="form-control" name="expiryDate" #expiryDateControl="ngModel" required ngModel>
        <span style="color: red;" *ngIf="expiryDateControl.touched && expiryDateControl.invalid">Expiry Date is mandatory</span>
    </div>

    <div class="form-group">
        <label>CVV:</label>
        <input type="number" class="form-control" name="cvv" #cvvControl="ngModel" required ngModel>
        <span style="color: red;" *ngIf="cvvControl.touched && cvvControl.invalid">CVV is mandatory</span>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="myform.invalid">Update</button>
</form>
