<div class="container">
    <table class="table table-primary col-sm-5">
        <tr>
            <th>SNO.</th>
            <th>Driver ID</th>
            <th>Driver Name</th>
            <th>Fare</th>
            <th>Rating</th>
            <th>DELETE</th>
        </tr>
        <tr *ngFor="let driver of driverList; index as i">
            <td>{{i + 1}}</td>
            <td>{{driver.driverId}}</td>
            <td>{{driver.driverName}}</td>
            <td>{{driver.fare}}</td>
            <td>{{driver.rating}}</td>
            <td>
                <button type="button" class="btn btn-danger" (click)="deleteById(driver.driverId)">Delete</button>
            </td>
        </tr>
    </table>
</div>
